html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set-up initial display for non-js */
#fail, #geo-fail {
	display: none;
}

html.no-js #fail {
	display: block;
}

html.no-js #content {
	display:none;
}

#form_holder, #map_img {
	display:none;
}

#content, #fail, #geo-fail {
  width: 400px;
	height: 300px;
  margin-left: auto ;
  margin-right: auto ;

}

.loader  {
	text-align:center;
	margin:auto;
}


.button {
	border:0 none;
	font-size:14px;
	font-weight:bold;
	background: #222 url(/images/btn-orange-bg.png) repeat-x;
	width:auto;;
	height:30px;
	text-decoration: none;
	color:#FFF;
	line-height:14px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	
	padding: 4px 15px 4px 15px;
	float:right;
	
	display: inline-block;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
